In [1]:
# For Loop - Python Tutorial for Beginners

##################################################

some_list = [1,2,3,4,5]

for number in some_list:
    print(number)
    
##################################################

some_list = [1,2,3,4,5]

for number in some_list:
    print(number)
    
new_list = []

for number in some_list:
    new_list.append(2*number)
    
print(new_list)

##################################################

new_list = [i for i in range(10)]
print(new_list)

new_list = [i+1 for i in range(10)]
print(new_list)

new_list = [5*(i+1) for i in range(10)]
print(new_list)

1
2
3
4
5
1
2
3
4
5
[2, 4, 6, 8, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]