In [3]:
# Unpack - Python Tutorial for Beginners

#############################################################

names=["Josh","James","Frank"]

print(names)

name1, name2, name3 = names

print(name1)
print(name2)
print(name3)

nums = [111,222,333]

print(nums)

num1,num2,num3 = nums

print(num1)
print(num2)
print(num3)

#############################################################

some_tuple = (1,2,3)

print(some_tuple)

num1,num2,num3 = some_tuple

print(num1)
print(num2)
print(num3)

#############################################################

some_dict = {"Key1":"Some Stuffs","Key2":"Some More Stuffs"}

print(some_dict)

slot1, slot2 = some_dict

print(slot1)
print(slot2)

print(type(slot1))

['Josh', 'James', 'Frank']
Josh
James
Frank
[111, 222, 333]
111
222
333
(1, 2, 3)
1
2
3
{'Key1': 'Some Stuffs', 'Key2': 'Some More Stuffs'}
Key1
Key2
<class 'str'>